.cv-pages-02 {
    max-width: 1190px;
    margin: 0 auto;
    background-color: var(--color-white);
    box-sizing: border-box;
    padding: 10px;
    position: relative;

    @media (min-width: 567px) {
        @include _('padding', 0.7, 60);
    }

    ul[class], ol[class] {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    address {
        text-transform: none;
        font-style: normal;
        margin: 0;

        > p {
            margin: 0;
        }
    }

    h4 {
        margin-bottom: 0px;
    }

    .--content-padding {
        margin-top: 22px;
        margin-bottom: 22px;
    }

    .--columns-2 {
        columns: 2;
       
        @media (max-width: 767px) {
            columns: 1;
        }

        li {
            @include _('margin-bottom', 0.7, 10);
        }
    }

    .--columns-3 {
        columns: 3;

        @media (max-width: 1200px) {
            columns: 2;
        }

        @media (max-width: 767px) {
            columns: 1;
        }
       
        li {
            @include _('margin-bottom', 0.7, 10);
        }
    }

    .--footer {
        align-items: center;

        @media (max-width: 567px) {
            .col {
                margin-bottom: 20px;
            }
        }

        h2 {
            margin: 0px;
        }

        p {
            margin: 0px;
        }

        a {
            margin: 0px;
        }
    }

    .--h2 {
        margin-top: 0;
        margin-bottom: -6px;
    }

    .--large {
        @include _('margin-bottom', 0.7, 15);
        display: inline-block;
    }

    strong {
        font-weight: 400;
    }



    .--list .skill-item {
        @media (min-width: 567px) {
            @include _('padding-right', 0.7, 60);
        }
    }

    .--h1 {
        @include _('margin-bottom', 0.7, 20);
      
        span {
            position: relative;
            z-index: 2;
        }
        &:before {
            height: 40px;
            width: 300px;
            background-color: #A456D5;
            position: absolute;
            top: 130px;
            left: 90px;
            content: " ";
            z-index: 1; 
        }

        @media (max-width: 567px) {
            padding-top: 40px;
        }

        @media (min-width: 1681px) {
            position: relative;
        }

        @media (max-width: 1680px) {
          

            &:before {
                top: 0;
                left: 0;
                right: 0px;
                width: 100%;
                height: 10px;
            }
        }
    }

    .--h2 {

    }

    .--strong {
        font-weight: 600;
    }

    .--header {
        text-align: center;
    }

    .--body {

    }

    hr {
        @include _('margin-top', 0.7, 40);
        @include _('margin-bottom', 0.7, 40);
        border-top: 1px solid var(--color-gray-3);
   
    }
}