<div class="cv-pages-02">
    <div class="container --header">
        <div class="row">
            <div class="col">
                <h1 class="fs--160 --h1"><span>Christopher Nathaniel</span></h1>
                <h2 class="fs--14 f--regular --h2">Developer + Designer</h2>
                <a class="--large" href="https://creativenebula.co.uk" target="_blank"><strong class="fs--20 f--bold --strong">creativenebula.co.uk</strong></a><br>
                <a class="--tel" href="tel:+447711162177">+44 (0) 7711 162 177</a><br>
                <a class="--mail" href="mailto:connect@christophernathaniel.co.uk">connect@christophernathaniel.co.uk</a>
                <address>
                    <p>Woodbridge, United Kingdom</p>
                </address>
            </div>
        </div>
    </div>
    <div class="container --body">
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h3 class="--fs">Skills</h3>
                <ul class="--list">
                    {% set skills = [
                            {
                                name : 'JavaScript',
                                years : '10+',
                                progress : 6
                            },
                            {
                                name : 'Wordpress',
                                years : '10+',
                                progress : 6
                            },
                            {
                                name : 'ReactJS',
                                years : '3',
                                progress : 3
                            },
                            {
                                name : 'PHP',
                                years : '10+',
                                progress : 5
                            },
                            {
                                name : 'MongoDB',
                                years : '2',
                                progress : 6
                            },
                            {
                                name : 'NodeJS',
                                years : '2',
                                progress :3
                            },
                            {
                                name : 'CSS/SCSS',
                                years : '10+',
                                progress : 6
                            },
                            {
                                name : 'CSS Frameworks',
                                years : '10+',
                                progress : 5
                            }
                        ]
                    %}
                    {% for skill in skills %}
                        {% include '/modules/_molecules/skill/skill.twig' with skill %}
                    {% endfor %}
                
                </ul>
            </div>
             <div class=" col col-md-4 col-8 fs--18">
                <h3 class="--fs">Experience</h3>
                <div>
                    <p>I am a highly-motivated web developer and UX/UI designer with extensive experience in web-based technologies, custom module development, and web design. With a keen interest in web design and interface design, I excel in Javascript, PHP, SASS, and WordPress, alongside developing large-scale, multi-language sites. In my recent role as Lead Developer at Linassi + Co, I spearheaded the development of international websites, leveraging technologies like Google Cloud Translate API for seamless language translation. My efforts in leading the eco framework for eco-friendly websites led to significant performance improvements, reducing load sizes from 6MB to approximately 300KB.</p>
                    <p>Previously, as Lead UX Architect and Senior Website Developer at Unity Online, I combined my design and development expertise to establish and launch the company's UI, UX, and design services, significantly expanding their product offering. I have a proven track record of training individuals into successful designers and developers.</p>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
         <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h4 class="--fs">Developer, Linassi+Co</h4>
                <span>July 2020 - June 2024</span>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div>
                    <p>Working at Linassi + Co has been a privilege as during this time I have had the opportunity to develop large international websites independently, whilst implementing new technology, programming concepts and processes, including Atomic Design Principles, Separation of Concerns and GIT Deployments for our 40+ websites.</p>
                    <p>Enhancing my experience is working with the Google Cloud Translate API for International language translation, REST API driven filters and building a component driven framework to easily create, maintain and update Linassi+CO websites.</p>
                    <p>As Senior Web Developer, I am responsible for all the development projects within the business. This involves building newly designed sites, as well as supporting and improving on their previously created sites. I have constructed International websites for Linassi+CO, including their company website. I was the sole developer for over two years, but since this time I have had two further juniors on my team who I have trained fully to a high standard.</p>
                </div>
             </div>
         </div>
          <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h4 class="--fs">Lead UX Architect, Unity Online</h4>
                <span>June 2019 - Apr 2020</span>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div>
                    <p>Following a promotion, my role within Unity Online adapted to focus on the UX/UI design for all projects, as well as continuing to develop websites alongside this role.</p>
                </div>
                  <hr>
             </div>
           
         </div>
         <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h4 class="--fs">Senior Web Developer + Designer</h4>
                <span>April 2016 - May 2019</span>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div>
                    <p>Before I was promoted to Lead UX Architect, I was the senior Web Developer and Designer. I fully designed the website to suit the clients needs, following their guidelines. I have been responsible for key projects in the company, managing all website projects for a year.</p> 
                    <p>This consists of designing and developing all of the sites to a high standard in minimal time. My role has involved using Wordpress, Magento, HTML5, CSS3, SASS, JQuery, Javascript and PHP, as well as using Adobe Photoshop, Illustrator and InDesign. I have built over 25 successful websites for Unity Media Eastern, which includes the company website.</p>
                </div>
             </div>
         </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
         <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h4 class="--fs">Senior Graphic Designer, Podpea ltd</h4>
                <span>March 2012- April 2016</span>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div>
                    <p>Podpea was a proactive company who would always pick up new challenges to compete in a growing industry. The company provided branding, mobile applications, websites and financial systems. My main responsibilities included producing graphics for Branding, Apps, Websites and providing UI and UX knowledge. My role also included using HTML5/SCSS/jQuery and Bootstrap 3 to build engaging websites for clients.</p>
                </div>
             </div>
         </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
         <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h4 class="--fs">Website Developer + Designer, Suffolk County Council</h4>
                <span>2010 - March 2012</span>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div>
                    <p>During my employment I was actively involved in website development, allowing me to improve my skills in web based technologies and key wire-framing and website design principles. I was involved in key projects such as the Suffolk County Council website (www.suffolk.gov.uk) and building payment transactions for Mid Suffolk District Council using a custom payment system. HTML/CSS/jQuery/Bootstrap 1 and Silverstripe CMS were commonly used as part of my day to day activities.</p>
                </div>
             </div>
         </div>
          <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
         <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h4 class="--fs">Other Qualifications</h4>
                <span>2010 - March 2012</span>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div class="--content-padding">
                    <ul class="--columns-2">
                        <li>IT Apprenticeship Triple Distinction</li>
                        <li>IT Diploma Level 3 Triple Distinction</li>
                        <li>ASP.Net Training </li>
                        <li>IDEA Award for Innovation</li>
                        <li>NVQ IT Telecoms for Professionals</li>
                    </ul>
                </div>
             </div>
         </div>
          <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
          <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
                <h3 class="--fs">Additional Skills</h3>
            </div>
        </div>
         <div class="row">
            <div class="skills col col-md-2 col-4 fs--18">
               <ul class="--list">
                    {% set skills = [
                            {
                                name : 'Figma',
                                years : '6',
                                progress : 4
                            },
                            {
                                name : 'Plugin Dev',
                                years : '4',
                                progress : 4
                            },
                            {
                                name : 'RestAPI',
                                years : '4',
                                progress : 3
                            },
                            {
                                name : 'Webpack',
                                years : '4',
                                progress : 5
                            },
                            {
                                name : 'Woocommerce',
                                years : '8',
                                progress : 5
                            },
          
                        ]
                    %}
                    {% for skill in skills %}
                        {% include '/modules/_molecules/skill/skill.twig' with skill %}
                    {% endfor %}
                
                </ul>
            </div>
            <div class=" col col-md-4 col-8 fs--18">
                <div>
                    <ul class="--columns-3">
                        <li>Linux Debian</li>
                        <li>jQuery</li>
                        <li>SQL</li>
                        <li>Building NPM Modules</li>
                        <li>TwigLang</li>
                        <li>TailwindCSS</li>
                        <li>WooCommerce</li>
                        <li>Magento 1</li>
                        <li>Magento 2</li>
                        <li>User Experience Design</li>
                        <li>User Interface Design</li>
                        <li>mySQL</li>
                        <li>MariaDB</li>
                        <li>Vanilla JavaScript</li>
                        <li>Terminal (MacOS, Linux)</li>
                        <li>Digital Ocean</li>
                        <li>Web Accessibility Standards - WCAG</li>
                        <li>Website Performance</li>
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                        <li>Lightroom</li>
                    </ul>
                </div>
             </div>
         </div>
         <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <footer class="--footer row">
            <div class="col col-3 col-md-2">
               <h2>Christopher<br>
               Nathaniel</h2>
               <p>Developer + Designer</p>
            </div>
            <div class="col col-3 col-md-3">
                <a href="https://creativenebula.co.uk" target="_blank"><strong class="f--bold --strong">creativenebula.co.uk</strong></a><br>
                <a class="--tel" href="tel:+447711162177">+44 (0) 7711 162 177</a><br>
                <a class="--mail" href="mailto:connect@christophernathaniel.co.uk">connect@christophernathaniel.co.uk</a>
            </div>
        </footer>
    </div>
</div>


