<footer id="footer" class="content">
    <div class="container">
        <div class="--center">
            <div>
        Copyright {{"now"|date('Y')}} <a target="_blank" class="external_url" href="https://christophernathaniel.co.uk">Christopher Nathaniel</a>
            </div>
        </div>

       

        
    </div>
</footer>   