{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="password-ui">
					<h1 class="--h1 fs--96 tt--uppercase">GALLERIES</h1>

					<div class="--center">
						<div>
							<span class="--subtitle fs--14">LOG IN</span>
							<h2 class="--h2 fs--48 tt--uppercase">SEE, MANAGE AND DOWNLOAD YOUR PHOTOS</h2>
							<form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
								<label for="pwbox-{{post.ID}}">Password:</label>
								<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="text" placeholder="Password" size="8" maxlength="8" />
								<div class="underscores">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<input class="password-btn fs--14 tt-uppercase" type="submit" name="Submit" value="LOGIN" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
