.--button {
    display: flex;
    align-items: center;
    margin-right: 30px;

    &:hover {
        svg {
            stroke: var(--color-secondary);
        
        }
    }

    .arrow-icon {
        margin-top: -4px;
        margin-left: 15px;
        rotate: -90deg;
    }
}