<li class="skill-item">
    <div class="--left">
        <strong>{{ name }}</strong>
        <span class="fs--14">{{ years }} years</span>
    </div>
    <div class="--right">
        <ol class="--progress" data-progress="{{ progress }}">
            <li></li><li></li><li></li><li></li><li></li><li></li>
        </ol>
    </div>
</li>