.testimonial-block-10 {
    @include _('padding-top', 0.7, 120);
    @include _('padding-bottom', 0.7, 120);

    .--title {
        max-width: 700px;
        @include _('margin-bottom', 0.7, 20);
    }

    .--text {
        max-width: 600px;
        @include _('margin-bottom', 0.7, 20);
    }

    .--center {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }

    svg {
        fill: var(--color-primary);
    }

    .quote-left {
        position: absolute;
        left: 0;
    }

    .quote-right {
        position: absolute;
        right: 0;
        bottom: 0; 
    }

    .--subtitle, .--quote {
        display: inline-block;
        @include _('padding-bottom', 0.7, 20);
    }
}
