<div class="testimonial-block-10">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4 col-8 offset-2">
                <div class="--center">
                    {% include 'modules/_atoms/quote-left.twig'  %}
                    <div class="--subtitle fs--15">TESTIMONIAL</div>
                    <h2 class="--title fs--48 --h2">{{ fields.title }}</h2>
                    <div class="--text">{{ fields.text }}</div>
                    {% include 'modules/_atoms/quote-right.twig'  %}
                </div>
            </div>
        </div>
    </div>
</div>


