<div class="in-focus-block-02">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4 col-8 offset-2">
                <div class="--center">
                    <div class="--subtitle fs--15">{{ fields.subtitle }}</div>
                    <h2 class="--title fs--48 --h2">{{ fields.title }}</h2>
                    <div class="--text">{{ fields.text }}</div>
                    <div class="--signature">{% include 'modules/_atoms/signature/signature.twig' %}</div>
                </div>
            </div>
        </div>
    </div>
</div>


