<div class="page-title-block-07">
    <div class="container --top">
        <div class="row">
            <div class="col">
                <h1 class="--h1 fs--96">{{ fields.title ?? post.title }}</h1>
            </div>
        </div>  
    </div>
</div>


