.header {
    position: fixed;
    z-index: 10;
    background-color: var(--color-white);
    backdrop-filter: blur(100px);
    width: 100%;
   

    .header--inner {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .--left {
        display: flex;
        justify-content: space-between;
        align-items: end;


    }

    .--right {
        @include _('padding-right', 0.7, 147);

        .navicon {
            transition: 300ms linear top;
            position: absolute;
            top: 38px;
            right: 32px;
        }
        
        @media (max-width: 9928px) {
            .--button {
                display: none;
            }
        }

        @media (min-width: 992px) {
            .--button {
                position: relative;
                top: -10px;
            }
            .navicon {
                display: none;
            }
        }
    }

   svg {
        fill: var(--color-primary);
   }

   .logo {
        @include _('width', 0.7, 147);
        transition: 300ms linear width;
        aspect-ratio: 175/129;
        height: unset;
   }

   @media (max-width: 992px) {
        .nav-main {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0px;
            width: 300px;
            right: -300px;
            transition: 100ms linear right;
            background-color: var(--color-white);
            z-index: 20;
            height: 100vh;
        }

        &:after {
            z-index: 11;
            top: 0;
            bottom: 0;
            width: 100vw;
            right: -100vw;
            background-color: var(--color-3);
            content: '';
            position: fixed;
            display: block;
            height: 100vh;
            opacity: 0.7;
            transition: 100ms linear right;
        }

        &.menu-active {
            .nav-main {
                right: 0px;
            }

            &:after {
               right: 0;
            }
        }

        .nav-main {
            ul {
                padding: 0 40px;
                list-style: none;

                li {
                    border-bottom: 1px solid var(--color-3);
                }

                a {
                    padding: 10px 0;
                    display: block;
                }
            }
        }
   }

   @media (min-width: 992px) {
        .nav-main {
            ul {
                list-style: none;
                display: flex;

                li {
                    word-break: keep-all;
                }

                a {
                    text-wrap: nowrap;
                    padding: 5px 20px;
                }
            }
        }
    }
}



.has-scrolled {
    .header {
        .logo {
            @include _('width', 0.7, 96);
        }
        .navicon {
            top: 10px;
            right: 32px;
        }
    }       
}